<h1>{{actionType}} Contact</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class="control-label col-md-12">First name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="firstName">
    </div>
    <span class="text-danger ml-3" *ngIf="firstName.invalid && formDir.submitted">
      FirstName is required
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12">Last name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="lastname">
    </div>
    <span class="text-danger ml-3" *ngIf="lastname.invalid && formDir.submitted">
        LastName is required
      </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12">Email</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="email">
    </div>
    <span class="text-danger ml-3" *ngIf="email.invalid && formDir.submitted">
        Email is required and needs to be valid
      </span>
    </div>
  <div class="form-group row">
    <label class="control-label col-md-12">Phone</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="phone">
    </div>
    <span class="text-danger ml-3" *ngIf="phone.invalid && formDir.submitted">
        Phone is required
      </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Save</button>
    <button class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
  </div>
</form>