<ng-container *ngIf="(contact$ | async) as contact; else loading">
    <table class="table">
        <tr>
            <td>
                <h3>{{ contact.firstName }} {{ contact.lastName}}</h3>
            </td>
        </tr>
        <tr>
            <td>
                {{ contact.email }}
            </td>
        </tr>
        <tr>
            <td>
                {{ contact.phone }}
            </td>
        </tr>
    </table>

</ng-container>
<ng-template #loading>Loading…</ng-template>